<div class="bg-1 padd-20">
	<div class="bs-xs-10"></div>
	<p class="text grey sm" i18n="@@passMustInclude">Password must include:</p>
	<div class="bs-xs-10"></div>
	<div class="row">
		<div class="col-sm-6">
			<div class="password-info text sm grey" [ngClass]="{'active': containsLowercase}" i18n="@@lowercaseCharacters">
				A lowercase character
			</div>
		</div>
		<div class="col-sm-6">
			<div class="password-info text sm grey" [ngClass]="{'active': containsLength}" i18n="@@atLeast">
				8-20 characters
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="password-info text sm grey" [ngClass]="{'active': containsNumber}" i18n="@@numbers">
				A number
			</div>
		</div>
		<div class="col-sm-6">
			<div class="password-info text sm grey" [ngClass]="{'active': containsUppercase}" i18n="@@uppercaseCharacters">
				An uppercase character
			</div>
		</div>
	</div>
	<div class="password-info text sm grey" [ngClass]="{'active': containsSpecialCharacter}" i18n="@@specialCharacters">
		A special character (!@#$%^&amp;*)
	</div>
	<div class="bs-xs-10"></div>
 </div>	
