<div class="page-padding">
	<div class="container-custome">
		<div class="bs-xs-30 bs-sm-60"></div>
		<h2 class="h2" i18n="@@TYPOGRAPHY">Typhography</h2>
		<div class="bs-xs-30"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="text dark">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius
					urna viverra.
				</div>
			</div>
			<div class="col-sm-6 dark">
				<div class="color-preview"></div>
				#000000 "dark"
			</div>
		</div>
		<div class="bs-xs-20"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="text body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius
					urna viverra.
				</div>
			</div>
			<div class="col-sm-6 body">
				<div class="color-preview"></div>
				#3E4254 "body"
			</div>
		</div>
		<div class="bs-xs-20"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="text grey">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius
					urna viverra.
				</div>
			</div>
			<div class="col-sm-6 grey">
				<div class="color-preview"></div>
				#6F7886 "grey"
			</div>
		</div>
		<div class="bs-xs-20"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="text label">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius
					urna viverra.
				</div>
			</div>
			<div class="col-sm-6 label">
				<div class="color-preview"></div>
				#9B9B9B "label"
			</div>
		</div>
		<div class="bs-xs-20"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="text color">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius
					urna viverra.
				</div>
			</div>
			<div class="col-sm-6 color">
				<div class="color-preview"></div>
				#404DDC "color"
			</div>
		</div>
		<div class="bs-xs-20"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="text invalid">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius
					urna viverra.
				</div>
			</div>
			<div class="col-sm-6 invalid">
				<div class="color-preview"></div>
				#B00020 "invalid"
			</div>
		</div>
		<div class="bs-xs-20"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="text success">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius
					urna viverra.
				</div>
			</div>
			<div class="col-sm-6 success">
				<div class="color-preview"></div>
				#00B274 "success"
			</div>
		</div>
		<div class="bs-xs-60"></div>
		<div class="row">
			<div class="col-md-3">
				<h1 class="h1">Heading H1</h1>
				<div class="bs-xs-20"></div>
				<h2 class="h2">Heading H2</h2>
				<div class="bs-xs-20"></div>
				<h3 class="h3">Heading H3</h3>
				<div class="bs-xs-20"></div>
				<h4 class="h4">Heading H4</h4>
				<div class="bs-xs-20"></div>
				<h5 class="h5">Heading H5</h5>
				<div class="bs-xs-20"></div>
				<a href="#" class="link">Hyperlink</a>
				<div class="bs-xs-20"></div>
				<div class="text lg">
					<a href="#" class="link-text">Hyperlink 2</a>
				</div>

			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4">
						<b class="text grey">12/14 "text sm"</b>
						<div class="bs-xs-10"></div>
						<p class="text sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius urna viverra.</p>
						<div class="bs-xs-20"></div>
						<b class="text grey">12/14 "sub-font"</b>
						<div class="bs-xs-10"></div>
						<p class="sub-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius urna viverra.</p>
					</div>
					<div class="col-md-4">
						<b class="text grey">14/24 "text"</b>
						<div class="bs-xs-10"></div>
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius urna viverra.</p>
					</div>
					<div class="col-md-4">
						<b class="text grey">16/24 "text lg"</b>
						<div class="bs-xs-10"></div>
						<p class="text lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit ante et est ultricies, eget varius urna viverra.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bs-xs-60"></div>
		<div class="btn-wrapper bg-grey">
			<div class="bs-xs-30"></div>
		    <div class="elem-wrap">
				<button class="btn btn-primary">Primary</button>
				<button class="btn btn-secondary">Secondary</button>
				<button class="btn btn-contrast">Contrast</button>
				<button class="btn btn-alert">Alert</button>
				<button class="btn btn-primary" disabled>Disabled</button>
				<p class="text label sub-font">Buttons (btn-primary, btn-secondary, btn-contrast, btn-alert)</p>
			</div>
			<div class="bs-xs-10"></div>
			<div class="elem-wrap">
	       		<button class="btn btn-primary btn-wide">Primary wide</button>
	       		<button class="btn btn-primary" disabled>Disabled</button>
	       		<p class="text label sub-font">Buttons (btn-wide, disabled)</p>
			</div>
			<div class="bs-xs-10"></div>
			<div class="elem-wrap">
				<button class="btn btn-primary btn-sm">Primary</button>
				<button class="btn btn-primary btn-sm">Primary</button>
				<button class="btn btn-secondary btn-sm">Secondary</button>
				<button class="btn btn-contrast btn-sm">Contrast</button>
				<button class="btn btn-alert btn-sm">Alert</button>
				<p class="text label sub-font">Buttons (btn-sm)</p>
			</div>
			<div class="bs-xs-10"></div>
			<div class="elem-wrap">
				<button class="btn btn-primary btn-xs">Primary</button>
				<button class="btn btn-secondary btn-xs">Secondary</button>
				<button class="btn btn-contrast btn-xs">Contrast</button>
				<button class="btn btn-alert btn-xs">Alert</button>
				<p class="text label sub-font">Buttons (btn-xs)</p>
			</div>
			<div class="bs-xs-10"></div>
			<div class="elem-wrap">
			<button class="btn-icon">
				<img src="assets/img/edit-color.svg" alt="">
			</button>
			<button class="btn-icon icon-border">
				<img src="assets/img/edit.svg" alt="">
			</button>
			<button class="btn-icon icon-border" disabled>
				<img src="assets/img/edit.svg" alt="">
			</button>
			<button class="btn-icon type-sm">
				<img src="assets/img/edit-color.svg" alt="">
			</button>
			<button class="btn-icon icon-border type-sm">
				<img src="assets/img/edit.svg" alt="">
			</button>
			<button class="btn-icon icon-border type-sm" disabled>
				<img src="assets/img/edit.svg" alt="">
			</button>
			<button class="btn-icon type-xs">
				<img src="assets/img/edit-color.svg" alt="">
			</button>
			<button class="btn-icon icon-border type-xs">
				<img src="assets/img/edit.svg" alt="">
			</button>
			<button class="btn-icon type-xs" disabled>
				<img src="assets/img/edit.svg" alt="">
			</button>
			<p class="text label sub-font">Buttons (btn-icon, icon-border)</p>
			</div>
		    <div class="bs-xs-30"></div>
		    <div class="elem-wrap">
		    	<button class="btn btn-primary btn-sm" (click)="infoUsPopup = true">Popup</button>
		    	<p class="text label sub-font">Popup Component</p>
		    </div>
			<div class="elem-wrap">
				<button class="btn btn-primary btn-sm" (click)="openSnackBar('Here snack bar message example')">Snack bar</button>
				<p class="text label sub-font">Snack Bar Component</p>
				<app-snack-bar></app-snack-bar>
			</div>
		    <div class="elem-wrap">
		    <back-button>
				<button class="btn-icon type-xs icon-border">
					<img src="assets/img/back.svg" alt="">
				</button>
	    		<p class="text label sub-font">Back Button Component</p>
		    </back-button>
			</div>

		  <div class="bs-xs-10"></div>
		</div>

		<div class="bs-xs-60"></div>

		<form [formGroup]="simpleForm">
			<div class="row">
				<div class="col-md-3">
					<mat-form-field class="example-full-width">
					  <input matInput type="email" placeholder="Email" formControlName="simpleInput">
					  <mat-icon matSuffix class="invalid">warning</mat-icon>
					  <mat-error *ngIf="simpleForm.get('simpleInput').hasError('pattern')">
						   Email address not valid.
					  </mat-error>
					  <mat-error *ngIf="simpleForm.get('simpleInput').hasError('required')">
						   This field is required
					  </mat-error>
					</mat-form-field>
					<div class="bs-xs-20"></div>
				</div>
				<div class="col-md-3">
					<app-datepicker title="Start Date" formControlName="startDate" filter="true"></app-datepicker>
					<div class="bs-xs-20"></div>
				</div>
				<div class="col-md-3">
				    <mat-form-field class="example-full-width">
					  <mat-label>Select quarter</mat-label>
					  <mat-select formControlName="simpleSelect">
						<mat-option *ngFor="let item of quarter" [value]="item.value">
						  {{item.viewValue}}
						</mat-option>
					  </mat-select>
					</mat-form-field>
					<div class="bs-xs-20"></div>
				</div>
				<div class="col-md-3">
					<mat-form-field class="example-full-width">
					  <mat-label>City</mat-label>
					  <mat-select formControlName="simpleOption" multiple>
						<mat-option *ngFor="let item of city" [value]="item">
						  {{item.value}}
						</mat-option>
					  </mat-select>
					</mat-form-field>
					<div class="bs-xs-20"></div>
				</div>
			</div>
			<div class="row">
			    <div class="col-md-3">
					<mat-form-field class="example-full-width">
					  <mat-label>Status</mat-label>
					  <mat-select formControlName="simpleSelectList" multiple>
					    <multi-select [model]="simpleForm.get('simpleSelectList')" [values]="optionsList">
                        </multi-select>
						<mat-option *ngFor="let item of optionsList" [value]="item">
						  {{item.value}}
						</mat-option>
					  </mat-select>
					</mat-form-field>
					<div class="bs-xs-20"></div>
			    </div>
				<div class="col-md-3">
					<mat-form-field class="example-full-width">
					  <input matInput type="text" formControlName="simpleSearch" placeholder="Search">
					  <button *ngIf="simpleForm.get('simpleSearch').value" matSuffix class="btn-simple" (click)="simpleForm.get('simpleSearch').setValue(null)">
						<mat-icon>close</mat-icon>
					  </button>
					</mat-form-field>
					<div class="bs-xs-20"></div>
				</div>
				<div class="col-md-3">
					<mat-radio-group aria-label="Select an option" formControlName="simpleRadio">
					  <mat-radio-button value="1">Option 1</mat-radio-button>
					  <mat-radio-button value="2">Option 2</mat-radio-button>
					</mat-radio-group>
					<div class="bs-xs-20"></div>
				</div>
				<div class="col-md-3">
					<mat-checkbox>Keep me logged in</mat-checkbox>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<app-material-search [items]="tariffs" title="Select Default Genre"></app-material-search>
				</div>
			</div>
		</form>

		<div class="bs-xs-60"></div>
		<div class="row">
			<div class="col-md-12">
			    <h6 class="h6">Table component</h6>
			    <div class="bs-xs-30"></div>
				<table mat-table [dataSource]="dataPayments" class="table-custome">
				  <ng-container matColumnDef="date">
					<th mat-header-cell *matHeaderCellDef> Date </th>
					<td mat-cell *matCellDef="let row" data-name="Date"> {{row.date | date: 'MM/dd/yyyy'}} </td>
				  </ng-container>
				  <ng-container matColumnDef="time">
					<th mat-header-cell *matHeaderCellDef> Time </th>
					<td mat-cell *matCellDef="let row" data-name="Time"> {{row.time}} </td>
				  </ng-container>
				  <ng-container matColumnDef="payNumber">
					<th mat-header-cell *matHeaderCellDef> Pay # </th>
					<td mat-cell *matCellDef="let row" data-name="Pay #"> <a class="color">{{row.payNumber}}</a> </td>
				  </ng-container>
				  <ng-container matColumnDef="paidBy">
					<th mat-header-cell *matHeaderCellDef> Paid by </th>
					<td mat-cell *matCellDef="let row" data-name="Paid by"> {{row.paidBy}} </td>
				  </ng-container>
				  <ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef>Type </th>
					<td mat-cell *matCellDef="let row" data-name="Type"> {{row.type}} </td>
				  </ng-container>
				  <ng-container matColumnDef="amount">
					<th mat-header-cell *matHeaderCellDef> Amount (CAD$) </th>
					<td mat-cell *matCellDef="let row" data-name="Amount (CAD$)"> {{row.amount | number:'1.2-2'}} </td>
				  </ng-container>
				  <ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef> Status </th>
					<td mat-cell *matCellDef="let row" data-name="Status">
					   <ng-container *ngIf="row.status == 'Successful'">
							<span class="success">{{row.status}}</span>
					   </ng-container>
					   <ng-container *ngIf="row.status == 'Unsuccessful'">
							<span class="invalid">{{row.status}}</span>
					   </ng-container>
					</td>
				  </ng-container>

				  <ng-container matColumnDef="menu">
					<th mat-header-cell *matHeaderCellDef> </th>
					<td mat-cell *matCellDef="let row; let i = index" class="table-option">
					  <div class="text-right">
						<button class="btn-icon type-xs menu-table" [matMenuTriggerFor]="menu">
							<img src="assets/img/more-actions.svg" alt="">
						</button>
						<mat-menu #menu="matMenu">
						  <button mat-menu-item (click)="getAccess(row)">Access Account</button>
						  <button mat-menu-item>Print</button>
						</mat-menu>
					   </div>
					</td>
				  </ng-container>
				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-menu-row"></tr>
				</table>

				<div class="bs-xs-60"></div>

				<h6 class="h6">Table sorting with pagination</h6>
			    <div class="bs-xs-30"></div>

				<table mat-table [dataSource]="dataPayments2" matSort class="table-custome">
				  <ng-container matColumnDef="date">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
					<td mat-cell *matCellDef="let row" data-name="Date"> {{row.date | date: 'MM/dd/yyyy'}} </td>
				  </ng-container>
				  <ng-container matColumnDef="time">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
					<td mat-cell *matCellDef="let row" data-name="Time"> {{row.time}} </td>
				  </ng-container>
				  <ng-container matColumnDef="payNumber">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Pay # </th>
					<td mat-cell *matCellDef="let row" data-name="Pay #"> <a class="color">{{row.payNumber}}</a> </td>
				  </ng-container>
				  <ng-container matColumnDef="paidBy">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Paid by </th>
					<td mat-cell *matCellDef="let row" data-name="Paid by"> {{row.paidBy}} </td>
				  </ng-container>
				  <ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
					<td mat-cell *matCellDef="let row" data-name="Type"> {{row.type}} </td>
				  </ng-container>
				  <ng-container matColumnDef="amount">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Amount (CAD$) </th>
					<td mat-cell *matCellDef="let row" data-name="Amount (CAD$)"> {{row.amount | number:'1.2-2'}} </td>
				  </ng-container>
				  <ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
					<td mat-cell *matCellDef="let row" data-name="Status">
					   <ng-container *ngIf="row.status == 'Successful'">
							<span class="success">{{row.status}}</span>
					   </ng-container>
					   <ng-container *ngIf="row.status == 'Unsuccessful'">
							<span class="invalid">{{row.status}}</span>
					   </ng-container>
					</td>
				  </ng-container>

				  <ng-container matColumnDef="menu">
					<th mat-header-cell *matHeaderCellDef> </th>
					<td mat-cell *matCellDef="let row; let i = index" class="table-option">
					  <div class="text-right">
						<button class="btn-icon type-xs menu-table" [matMenuTriggerFor]="menu">
							<img src="assets/img/more-actions.svg" alt="">
						</button>
						<mat-menu #menu="matMenu">
						  <button mat-menu-item (click)="getAccess(row)">Access Account</button>
						  <button mat-menu-item>Print</button>
						</mat-menu>
					   </div>
					</td>
				  </ng-container>
				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-menu-row"></tr>
				</table>
				<mat-paginator class="custome-pagination" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</div>
		</div>
		<div class="bs-xs-60"></div>
		<div class="row">
			<div class="col-md-12">
               <div class="tabs">
                   <div class="tab-item" (click)="setTab(1)" [ngClass]="{'active': isSet(1)}"><h5 class="h5 tab-title">Pay by Credit Card</h5></div>
                   <div class="tab-item" (click)="setTab(2)" [ngClass]="{'active': isSet(2)}"><h5 class="h5 tab-title">See Online Banking and Interac</h5></div>
               </div>
               <div class="tabs-wrap">
                    <div class="tab-panel" [ngClass]="{'active': isSet(1)}">
                    	<p class="text">
                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit, exercitationem nisi nulla quia similique quibusdam natus repellat temporibus alias vel optio? Facere dicta unde quo vel, quis necessitatibus rem.
                    	</p>
				    </div>
				    <div class="tab-panel" [ngClass]="{'active': isSet(2)}">
                    	<p class="text">
                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    	</p>
				    </div>
			   </div>
			</div>
		</div>
		<div class="bs-xs-60"></div>
	</div>
</div>


<app-popup class="popupMainWrapper" *ngIf="infoUsPopup" [@animationPopup]="infoUsPopup ? 'popupOpened' : 'popupClosed'" (close)="infoUsPopup = false" size="1">
    <ng-container content>
        <div class="popup-header">
        	<div class="h6">Create Admin Account</div>
        </div>
        <div class="popup-padding">
        	<p class="text sm">Select US rep do you want SOCAN to use to collect your royalties in the US</p>
        </div>
    </ng-container>
</app-popup>
