<div class="portal-left">

  <div class="fullscreen-align">
    <div class="bs-xs-100"></div>
    <div class="spinner" [ngClass]="{'active': loaderIsVisible}"></div>
    <div class="login-card">
      <ng-container *ngIf="serverError && !sendSuccess">
		<div class="text-center" [@itemAnimation]>
			<h2 class="h1" i18n="@@errorOccurred">An Unexpected Error Occurred</h2>
			<div class="bs-xs-30"></div>
			<a class="btn btn-primary btn-lg" (click)="serverError = false" i18n="@@goBack">Go Back</a>
		</div>
	  </ng-container>

      <ng-container *ngIf="sendSuccess">
          <div class="text-center" [@itemAnimation]>
            <img src="assets/img/checked-icon.svg" alt="" class="img-full">
			<div class="bs-xs-10"></div>
			<h2 class="h1" i18n="@@resetLink">Reset Link Sent</h2>
			<div class="bs-xs-10"></div>
			<p class="text grey" i18n="@@linkWillExpire">The link will expire after 24 hours.</p>
          </div>
      </ng-container>

      <ng-container *ngIf="!serverError && !sendSuccess">
        <div [@itemAnimation]>
          <h1 class="h1" i18n="@@fPassword">Forgot Password</h1>
          <div class="bs-xs-5"></div>
          <p class="text" i18n="@@provideAccountEmail">Please provide your account email to request a reset link.</p>
          <div class="bs-xs-30"></div>
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmitForm()">
            <mat-form-field class="example-full-width">
              <input matInput type="email" placeholder="Email Address" formControlName="email" i18n-placeholder="@@emailAddress2">
              <mat-icon matSuffix class="invalid">warning</mat-icon>
              <mat-error *ngIf="forgotForm.get('email').hasError('pattern')" i18n="@@emailAddressNotValid">
                Email address not valid.
              </mat-error>
              <mat-error *ngIf="forgotForm.get('email').hasError('required')" i18n="@@fielRequired">
                This field is required
              </mat-error>
            </mat-form-field>
            <div class="bs-xs-30 bs-sm-60"></div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-wide" [disabled]="!forgotForm.valid" i18n="@@sendResetLink">Send Reset Link</button>
              <div class="bs-xs-30 bs-sm-40"></div>
              <a [routerLink]="['/auth/login']" class="link" i18n="@@backToLogin">Go to log in page</a>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
    <div class="bs-xs-100"></div>
  </div>
</div>