<section class="contentWrapper loginWrapper" style="background: #FFF;">
	<div class="loginHeader">
		<a class="logo" [routerLink]="['/admin/login']">
			<img src="assets/img/logo.svg" alt=""/>
		</a>

		<div class="lang-wrap">
      <div class="app-languages">
        <a class="link" [ngClass]="{'active': localeId =='en-US'}" [attr.href]="languages[0].url">EN</a>
        <a class="link" [ngClass]="{'active': localeId =='fr'}" [attr.href]="languages[1].url">FR</a>
      </div>
		</div>
	</div>

	<div class="leftSide">
		<div class="fullscreenAlign">
			<div class="loginCard">
				<ng-container *ngIf="resetError">
					<div class="text-center" [@itemAnimation]>
						<h2 class="h1" i18n="@@errorOccurred">An Unexpected Error Occurred</h2>
						<div class="bs-xs-40"></div>
						<a class="btn btn-primary btn-lg" (click)="resetError = false" i18n="@@goBack">Go Back</a>
					</div>
				</ng-container>

				<ng-container *ngIf="resetSuccessful">
					<div class="informer" [@itemAnimation]>
						<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52">
							<g fill="none" fill-rule="evenodd">
								<circle cx="25.8" cy="25.8" r="25.8" fill="#25AE88" fill-rule="nonzero"/>
								<polyline stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.56" points="39.091 15.636 22.733 34.4 12.509 26.061"/>
							</g>
						</svg>
						<div class="bs-xs-10"></div>

						<h2 class="h1 as" i18n="@@resetLink">Reset Link Sent</h2>
						<p i18n="@@resetLinkHasBeenSent">Your password reset link has been sent to your inbox. </p>
					</div>
				</ng-container>

				<ng-container *ngIf="!resetSuccessful && !resetError">
					<div [@itemAnimation]>
						<div class="sectionTitle text">
							<h1 class="h1 as" i18n="@@forgotPassword">Forgot Password</h1>
							<p i18n="@@provideAccountEmail">Please provide your account email to request a rest link</p>
						</div>

						<div class="bs-xs-15 bs-sm-30"></div>

						<form [formGroup]="forgotForm" (ngSubmit)="submitForm()">
							<mat-form-field class="example-full-width">
								<input matInput type="email" i18n-placeholder="@@emailLoginAddress" placeholder="Email Address" formControlName="email">
								<mat-icon matSuffix class="invalid" >warning</mat-icon>
								<mat-error *ngIf="forgotForm.get('email').hasError('pattern')" i18n="@@emailAddressNotValid">
									Email address not valid.
								</mat-error>
								<mat-error *ngIf="forgotForm.get('email').hasError('required')" i18n="@@fielRequired">
									This field is required
								</mat-error>
							</mat-form-field>

							<div class="bs-xs-30 bs-sm-60"></div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-lg btn-wide" [disabled]="forgotForm.invalid" i18n="@@sendResetLink">Send reset link</button>
							</div>
						</form>

						<div class="bs-xs-30 bs-sm-40"></div>

						<div class="text-center">
							<a class="link" [routerLink]="['/admin/login']" i18n="@@backToLogin">Go Back to Login</a>
						</div>

						<div class="spinner semitransparent" [ngClass]="{'active': loaderIsVisible}"></div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>

	<div class="rightSide fixed">
		<div class="bgImage" style="background-color: #6C6F7C;"></div>
		<div class="bgPattern" style="background-image: url(assets/img/admin/admin-login-bg.png);"></div>
	</div>
</section>
