@import '~@angular/material/theming';
@include mat-core();

$md-entandem: (
    50 : #e8eafb,
    100 : #c6caf5,
    200 : #a0a6ee,
    300 : #7982e7,
    400 : #5d68e1,
    500 : #404ddc,
    600 : #3a46d8,
    700 : #323dd3,
    800 : #2a34ce,
    900 : #1c25c5,
    A100 : #fbfbff,
    A200 : #c8caff,
    A400 : #9599ff,
    A700 : #7b81ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-entandemred: (
    50 : #f6e0e4,
    100 : #e7b3bc,
    200 : #d88090,
    300 : #c84d63,
    400 : #bc2641,
    500 : #b00020,
    600 : #a9001c,
    700 : #a00018,
    800 : #970013,
    900 : #87000b,
    A100 : #ffb3b6,
    A200 : #ff8085,
    A400 : #ff4d53,
    A700 : #ff343b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$candy-app-primary: mat-palette($md-entandem, 500);
$candy-app-accent:  mat-palette($md-entandem, 500);
$candy-app-warn:    mat-palette($md-entandemred, 500);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);