<form class="text-center" [formGroup]="editOwner" (ngSubmit)="submitEditOwner()" >
  <div class="container-fluid containerNoPadding">
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field class="example-full-width">
          <input matInput type="text" i18n-placeholder="@@businessName" placeholder="Business Name:" formControlName="businessName">
          <mat-icon matSuffix class="invalid">warning</mat-icon>
          <mat-error *ngIf="editOwner.get('businessName').hasError('required')" i18n="@@fielRequired">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" i18n-placeholder="@@firstName" placeholder="First Name:" formControlName="firstName">
          <mat-icon matSuffix class="invalid">warning</mat-icon>
          <mat-error *ngIf="editOwner.get('firstName').hasError('required')" i18n="@@fielRequired">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" i18n-placeholder="@@lastName" placeholder="Last Name:" formControlName="lastName">
          <mat-icon matSuffix class="invalid">warning</mat-icon>
          <mat-error *ngIf="editOwner.get('lastName').hasError('required')" i18n="@@fielRequired">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
            <input matInput type="text" i18n-placeholder="@@address" placeholder="address:" formControlName="address">
            <mat-icon matSuffix class="invalid">warning</mat-icon>
            <mat-error *ngIf="editOwner.get('address').hasError('required')" i18n="@@fielRequired">
              This field is required
            </mat-error>
          </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" i18n-placeholder="@@phoneNumber" placeholder="Phone Number:" formControlName="phoneNumber">
          <mat-icon matSuffix class="invalid">warning</mat-icon>
          <mat-error *ngIf="editOwner.get('phoneNumber').hasError('required')" i18n="@@fielRequired">
            This field is required
          </mat-error>
          <mat-error *ngIf="editOwner.get('phoneNumber').hasError('pattern')" i18n="@@phoneNotValid">
            Phone number not valid
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
          <app-provinces formControlName="province" isrequired='false' i18n="@@province" title="Province"></app-provinces>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" i18n-placeholder="@@city" placeholder="City:" formControlName="city">
          <mat-icon matSuffix class="invalid">warning</mat-icon>
          <mat-error *ngIf="editOwner.get('city').hasError('required')" i18n="@@fielRequired">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" i18n-placeholder="@@postalCode" placeholder="Postal Code:" formControlName="postalCode">
          <mat-icon matSuffix class="invalid">warning</mat-icon>
          <mat-error *ngIf="editOwner.get('postalCode').hasError('required')" i18n="@@fielRequired">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xs-12">
        <mat-form-field class="example-full-width">
          <input matInput type="text" i18n-placeholder="@@email" placeholder="Email:" formControlName="email">
          <mat-icon matSuffix class="invalid">warning</mat-icon>
          <mat-error *ngIf="editOwner.get('email').hasError('pattern')" i18n="@@emailAddressNotValid">
            Email address not valid.
          </mat-error>
          <mat-error *ngIf="editOwner.get('email').hasError('required')" i18n="@@fielRequired">
            This field is required
          </mat-error>
        </mat-form-field>
        <div class="bs-xs-30"></div>
        <button class="btn btn btn-primary btn-wide" [disabled]="editOwner.invalid" i18n="@@updateOwner">UPDATE OWNER</button>
      </div>
    </div>
  </div>
</form>
<div class="spinner semitransparent" [ngClass]="{'active': loaderIsVisible}"></div>