<div class="portal-left">
   
    <div class="fullscreen-align">
        <div class="bs-xs-100"></div>
        <div class="spinner" [ngClass]="{'active': loaderIsVisible}"></div>
        
        <div class="login-card">
            <ng-container *ngIf="serverError">
                <div class="text-center" [@itemAnimation]>
                    <h2 class="h1" i18n="@@errorOccurred">An Unexpected Error Occurred</h2>
                    <div class="bs-xs-30"></div>
                    <a class="btn btn-primary btn-lg" (click)="serverError = false; resetSuccess = false" i18n="@@goBack">Go Back</a>
                </div>
            </ng-container>
            
            <ng-container *ngIf="expired">
                <div class="text-center" [@itemAnimation]>
                    <h2 class="h1" i18n="@@linkHasExpired">This link has expired</h2>
                    <div class="bs-xs-10"></div>
                    <p class="text grey" i18n="@@resetLinkExpired">Your password reset link expired </p>
                    <div class="bs-xs-30"></div>
                    <a [routerLink]="['/auth/forgotpassword']" class="link" i18n="@@requestPasswordLink">Request a Password Reset Link</a>
                </div>
            </ng-container>
            
            <ng-container *ngIf="!resetSuccess">
               <div [@itemAnimation]>
                <h1 class="h1" i18n="@@createNewPassword">Create New Password</h1>
                <div class="bs-xs-5"></div>
                <p class="text" i18n="@@enterPassword">Please enter your new password.</p>
                <div class="bs-xs-30"></div>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmitForm()">
					<mat-form-field class="example-full-width">
						<input matInput type="password" placeholder="Password" formControlName="password" i18n-placeholder="@@password">
						<mat-icon matSuffix class="invalid">warning</mat-icon>
						<mat-error *ngIf="resetForm.get('password').hasError('required')" i18n="@@fielRequired">
							This field is required
						</mat-error>
					</mat-form-field>
					<div class="bs-xs-10"></div>
					<mat-form-field class="example-full-width">
						<input matInput type="password" placeholder="Repeat Password" formControlName="passwordRepeat" i18n-placeholder="@@repeatPassword">
						<mat-icon matSuffix class="invalid">warning</mat-icon>
						<mat-error *ngIf="resetForm.get('passwordRepeat').hasError('pattern')" i18n="@@fielRequired">
							This field is required
						</mat-error>
						<mat-error *ngIf="resetForm.get('passwordRepeat').hasError('matchField')" i18n="@@passwordNotMutch">
							Password does not match
						</mat-error>
					</mat-form-field>
					<div class="bs-xs-10"></div>
					<app-password-hint [password]="resetForm.get('password')"></app-password-hint>
					<div class="bs-xs-30 bs-sm-60"></div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-wide" [disabled]="!resetForm.valid" i18n="@@createPassword">Create Password</button>
					</div>
				</form>
              </div>    
            </ng-container>
        </div>
        <div class="bs-xs-100"></div>
    </div>
</div>