<section class="contentWrapper loginWrapper" style="background: #FFF;">
	<div class="loginHeader">
		<a class="logo" [routerLink]="['/admin/login']">
			<img src="assets/img/logo.svg" alt=""/>
		</a>

		<div class="lang-wrap">
      <div class="app-languages">
        <a class="link" [ngClass]="{'active': localeId =='en-US'}" [attr.href]="languages[0].url">EN</a>
        <a class="link" [ngClass]="{'active': localeId =='fr'}" [attr.href]="languages[1].url">FR</a>
      </div>
		</div>
	</div>

	<div class="leftSide">
		<div class="fullscreenAlign">
			<div class="loginCard">
				<div class="spinner semitransparent" [ngClass]="{'active': loaderIsVisible}"></div>

				<ng-container *ngIf="serverError">
					<div class="text-center" [@itemAnimation]>
						<h2 class="h1" i18n="@@errorOccurred">An Unexpected Error Occurred</h2>
						<div class="bs-xs-30"></div>
						<a class="btn btn-primary btn-lg" (click)="serverError = false" i18n="@@goBack">Go Back</a>
					</div>
				</ng-container>

				<ng-container *ngIf="expired">
					<div class="text-center" [@itemAnimation]>
						<h2 class="h1" i18n="@@linkHasExpired">This link has expired</h2>
						<div class="bs-xs-10"></div>
						<p class="text grey" i18n="@@resetExpiredAfter24">Your reset link expired after 24 hours or has already been used. </p>
						<div class="bs-xs-30"></div>
						<a [routerLink]="['/admin/forgotpassword']" class="btn-primary btn-lg" i18n="@@requestPasswordLink">Request a Password Reset Link</a>
					</div>
				</ng-container>

				<ng-container *ngIf="resetSuccess">
					<div class="text-center" [@itemAnimation]>
						<h2 class="h1" i18n="@@newPasswordCreated">New password successfully created</h2>
						<div class="bs-xs-30"></div>
						<a class="btn btn-primary btn-lg" [routerLink]="['/admin/login']" i18n="@@login">Login</a>
					</div>
				</ng-container>

				<ng-container *ngIf="!serverError && !resetSuccess">
					<div [@itemAnimation]>
						<h1 class="h1" i18n="@@createNewPassword">Create New Password</h1>
						<div class="bs-xs-5"></div>
						<p class="text" i18n="@@enterPassword">Please enter your new password.</p>
						<div class="bs-xs-30"></div>
						<form [formGroup]="resetForm" (ngSubmit)="onSubmitForm()">
							<mat-form-field class="example-full-width">
								<input matInput type="password" i18n-placeholder="@@passwordLogin" placeholder="Password" formControlName="password">
								<mat-icon matSuffix class="invalid">warning</mat-icon>
								<mat-error *ngIf="resetForm.get('password').hasError('required')" i18n="@@fielRequired">
									This field is required
								</mat-error>
							</mat-form-field>
							<div class="bs-xs-20"></div>
							<mat-form-field class="example-full-width">
								<input matInput type="password" i18n-placeholder="@@repaetLoginPassword" placeholder="Repeat Password" formControlName="passwordRepeat">
								<mat-icon matSuffix class="invalid" >warning</mat-icon>
								<mat-error *ngIf="resetForm.get('passwordRepeat').hasError('pattern')" i18n="@@fielRequired">
									This field is required
								</mat-error>
								<mat-error *ngIf="resetForm.get('passwordRepeat').hasError('matchField')" i18n="@@passwordNotMutch">
									Password does not match
								</mat-error>
							</mat-form-field>
							<div class="bs-xs-30"></div>
							<app-password-hint [password]="resetForm.get('password')"></app-password-hint>
							<div class="bs-xs-30 bs-sm-60"></div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-wide" [disabled]="!resetForm.valid" i18n="@@createPassword">Create Password</button>
							</div>
						</form>
					</div>
				</ng-container>

			</div>
		</div>
	</div>

	<div class="rightSide fixed">
		<div class="bgImage" style="background-color: #6C6F7C;"></div>
		<div class="bgPattern" style="background-image: url(assets/img/admin/admin-login-bg.png);"></div>
	</div>
</section>

